* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {  
  --background-color: white;
  --font-color: black;
}

.dark-mode {
  --background-color: black;
  --font-color: white;
}

body {
  background-color: var(--background-color, white);
  color: var(--font-color,black);
  max-width: 90%;
  margin: 0 auto;
}

/**Header**/

header {
  border-bottom: 1px solid lightgrey;
}

#header-nav {
  margin: 26px auto;
}

#header-nav,
#header-nav-ul {
  display: flex;
  color: rgb(107, 107, 107);
  font-weight: bolder;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}

#light {
  color: rgb(136, 135, 135);
  font-weight: normal;
}

#header-nav-ul li a {
  color: rgb(107, 107, 107);
  text-decoration: none;
  padding: 0.8em 0.8em;
  cursor: pointer;
}

#header-nav-ul li:first-child a {
  color: #006699;
}

/**Main**/

main {
  margin: 1.5em auto;
}

#main-nav {
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 20px;
}

input[type="text"] {
  border: none;
  border-right: 1px solid grey;
  margin: 12px;
  text-align: center;
  flex: 2;
}

select {
  border: none;
  padding: 15px;
  -webkit-appearance: none;
  text-align: center;
  flex: 1;
}

input:focus,
select {
  outline: none;
}

.font-size-option {
  text-align: center;
}

#main-custom-options {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  flex: 2 2 200px;
  justify-content: space-around;
}

#black,
#white {
  border-radius: 50%;
  display: inline-flex;
  height: 15px;
  width: 15px;
  border: 1px solid grey;
}

#white {
  background-color: white;
}

#black {
  background-color: black;  
}

#adjust-grid,
#reset {
  background: none;
  border: none;
}

/**font-card**/

#font-card-main-container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.font-card {
  display: inline-block;
  position: relative;
  height: 300px;
  width: 300px;
  margin: 0 15px;
  border-top: 1px solid black;
}

.font-card-info {
  display: inline-flex;
}

.plus-icon {
  border: none;
  background: none;
  color: #006699;
  font-size: 15px;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px auto;
}

.font-preview {
  display: flex;
  padding-top: 2em;
  font-size: 2em;
}

.font-preview p {
  overflow: hidden;
  text-overflow: ellipsis;
}

/**footer**/

footer{
  text-align: center;
  margin: 20px 0;
}

footer a{
  text-decoration: none;
  color: #006699;
  cursor: pointer;
}

/**media query**/
@media screen and (max-width: 800px) {
  input[type="text"] {
    border-right: none;
  }

  #custom-text,
  #font-size,
  #dark-light-container,
  #adjust-grid {
    display: none;
  }

  #search-fonts {
    flex: 2;
  }

  #reset {
    flex: 1;
    justify-content: flex-end;
  }

  #header-nav {
    display: inline-block;
  }

  #header-nav-ul {
    font-size: 12px;
  }
}
